[Desktop Entry]
Name=Cannon Smash
Comment=3D tabletennis game
Comment[pl]=Trójwymiarowy tenis stołowy
Icon=csmash
Exec=csmash
Terminal=false
Type=Application
Categories=GTK;Game;SportsGame;
# vi: encoding=utf-8
