[Desktop Entry]
Name=Cannon Smash
Comment=3D tabletennis game
Comment[pl]=Trójwymiarowy tenis stołowy
Icon=csmash.png
Exec=csmash
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
